@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box;
}

body,
table,
input {
  font-family: "Lato", sans-serif;
}

.calculator {
  margin: auto;
  width: 300px;
  height: 100%;
  background-color: #2f2a39;
  box-shadow: 0 0 10px #56555e;
  padding: 20px;
}

.display-box {
  width: 100%;
  margin: 50px 0;
  font-size: 2.5rem;
  text-align: right;
  color: #fdfdfd;
  background-color: #2f2a39;
  border: 0;
}

td {
  width: 50px;
  height: 60px;
  text-align: center;
}

input[type="button"] {
  border-radius: 50%;
  border: 0;
  width: 40px;
  height: 40px;
  color: #fdfdfd;
  background: transparent;
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
}

input[type="button"][value="AC"] {
  color: #8b77ed;
}

input[type="button"]:hover {
  background-color: #56555e;
}

input[type="button"][value="/"],
input[type="button"][value="*"],
input[type="button"][value="-"],
input[type="button"][value="+"] {
  background-color: #56555e;
}

input[type="button"][value="="] {
  background-color: #8b77ed;
}

input[type="button"][value="="]:hover {
  background-color: #b2a4f1;
}
