body {
  font-family: "Open Sans", sans-serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.big-card {
  width: 500px;
  border: 2px solid #cccccc;
  color: #333333;
  border-radius: 4px;
  padding: 10px;
}

.big-card .description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.big-card .description .name {
  font-family: "Times New Roman", Times, serif;
  color: #fe90bf;
  border-bottom: 10px dotted #871181;
  padding: 5px 0;
  font-size: 2.25rem;
}

.big-card .info .career {
  margin: 20px 0;
  font-size: 1.1rem;
  color: #999999;
}

.big-card .contact .title {
  font-size: 1.4rem;
  font-style: italic;
  margin: 20px 0;
}

.big-card .contact .content {
  background-color: #eeeeee;
  border: 5px solid #871181;
  padding: 20px 0;
}

.big-card .contact .email a {
  color: #478b4b;
  text-decoration: none;
  font-weight: bold;
}

.big-card .contact .web a {
  color: #f69f82;
}

.big-card .contact .list {
  padding-inline-start: 30px;
}

.big-card .contact .list :not(:last-child) {
  margin-bottom: 5px;
}

.small-card {
  width: 500px;
  background-color: #cccccc;
  border-radius: 5px;
  padding: 15px;
}

.small-card .wrapper {
  background: #ff1900;
  border: 4px solid #000000;
  border-radius: 5%;
}

.small-card .header {
  padding-left: 15px;
  font-size: 0.8rem;
}

.small-card .main {
  background-color: #d01200;
  color: #eeeeee;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-card .main p {
  font-size: 0.8rem;
  margin: 2px 0;
}

.small-card .main .avatar {
  height: 150px;
}

.small-card .main .avatar img {
  height: 100%;
}

.small-card .main .email a {
  color: #eeeeee;
  text-decoration: none;
}

.small-card .footer {
  font-size: 1.1rem;
  padding-left: 15px;
  font-weight: bold;
}
